* { box-sizing: border-box;}

@font-face {
    font-family: 'Bangers';
    src: url('/public/fonts/Bangers-Regular.ttf');
}

@font-face {
    font-family: 'Komika';
    src: url('/public/fonts/komika.hand.ttf');
}

body {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: #111;
    color: white;
    font-family: 'Komika';
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: yellow;
    font-family: 'Bangers';
}

.container {
    margin-top: 3%;
    margin-bottom: 3%;
}

input {
    padding: 0.5em;
    border-radius: 3%;
    width: 100%;
}

input:hover {
    cursor: pointer;
}

.btn-secondary {
    background-color: #E5DC33;
    color:#111;
}

.hidden {
    display: none;
}

.delete {
    float: right;
}

.commentator {
    float: left;
}

.update {
    border: none;
    float: right;
    cursor: pointer;
}

.save {
    float: right;
    cursor: pointer;
}